.vscode/
diffvenv/
.DS_Store
**/__pycache__/
**/checkpoints
**/PNGs
*.pyc
**/.DS_Store
MNISTDiffusionModel/MNIST
**/MNIST
**/DiscreteMNIST
**/CIFAR-10
**/SavedModels
**/bin-mnist
**/rectangular_mazes
**/downloads
**/Synthetic
**/Protein_sequences
._*
**/cifar-10-batches-py
**/cifar-10-python.tar.gz
**/.png
**/is_mnist